<h2> Add a Room </h2>

<form method="post" action="/rooms">

  <label for="room-name-input"> Room Name </label>
  <input  id="room-name-input" type="text" name="roomName">
  <br>

  <label   for="room-description-input"> Description </label>
  <textarea id="room-description-input" type="text" name="roomDescription"></textarea>
  <br>

  <label for="room-photo-input"> Photo URL </label>
  <input  id="room-photo-input" type="url" name="roomPhotoUrl">
  <br>

  <button> Save This Room </button>
</form>
